- name: Love actions for Android
  uses: love-actions/love-actions-android@v1.1.3

---

on: push

jobs:
  steps:
    uses: love-actions/love-actions-android@v1.1.3
    name: Build love android
    with:
      app-name: "My Love Game"
      bundle-id: "org.love2d.my_game"
      resource-path: "./assets/android/res"
