on: push

env:
  CORE_LOVE_PACKAGE_PATH: ./core.love
  CORE_LOVE_ARTIFACT_NAME: core_love_package
  PRODUCT_NAME: my_love_app
  BUNDLE_ID: com.example.myloveapp

jobs:
  build-core:
    runs-on: ubuntu-latest
    env:
      OUTPUT_FOLDER: ./build
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set Version Number
        run: echo "VERSION=1.0.${{ github.run_number }}" >> $GITHUB_ENV
      - name: Build core love package
        uses: love-actions/love-actions-core@v1
        with:
          build-list: ./
          package-path: ${{ env.CORE_LOVE_PACKAGE_PATH }}
          version: ${{ env.VERSION }}
      - name: Upload core love package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.CORE_LOVE_ARTIFACT_NAME }}
          path: ${{ env.CORE_LOVE_PACKAGE_PATH }}
  build-android:
    runs-on: ubuntu-latest
    needs: [build-core]
    env:
      OUTPUT_FOLDER: ./build
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      # Download your core love package here
      - name: Download core love package
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.CORE_LOVE_ARTIFACT_NAME }}
      - name: Build Android packages
        id: build-packages
        uses: love-actions/love-actions-android@v1.1.3
        with:
          app-name: ${{ env.PRODUCT_NAME }}
          bundle-id: ${{ env.BUNDLE_ID }}
          love-package: ${{ env.CORE_LOVE_PACKAGE_PATH }}
          resource-path: ./assets/android/res
          product-name: ${{ env.PRODUCT_NAME }}
          version-string: "1.0.${{ github.run_number }}"
          version-code: 100
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ needs.get-info.outputs.base-name }}_Android_debug
          path: ${{ env.OUTPUT_FOLDER }}/${{ env.PRODUCT_NAME }}-debug.apk
